@media (min-width: 769px) {
  @keyframes hamburger-swap {
    from {
      right: 24px;
    }
    40% {
      right: -100px;
    }
    40% {
      left: -36px;
    }
    to {
      left: 290px;
    }
  }
  @keyframes hamburger-swap-back {
    from {
      left: 290px;
    }
    80% {
      left: -400px;
    }
    80% {
      right: -36px;
    }
    to {
      right: 24px;
    }
  }
}
@media (max-width: 768px) {
  @keyframes hamburger-swap {
    from {
      right: 24px;
    }
    40% {
      right: -100px;
    }
    40% {
      left: -36px;
    }
    to {
      left: 195px;
    }
  }
  @keyframes hamburger-swap-back {
    from {
      left: 195px;
    }
    80% {
      left: -400px;
    }
    80% {
      right: -36px;
    }
    to {
      right: 24px;
    }
  }
}
