.hamburger {
  position: fixed;
  top: 24px;
  right: 24px;
  width: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 29px;
  z-index: 10;
  cursor: pointer;
  span {
    display: block;
    width: 29px;
    height: 3px;
    background-color: $alt-text-color;
    transition: 0.5s all;
    border-radius: 10px;
    &:nth-child(odd) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      align-self: center;
      width: 36px;
      transition: 0.5s all;
    }
  }
  &_active {
    span {
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(3) {
        transform: rotate(45deg);
      }
      &:nth-child(odd) {
        transition: 1s all;
      }
      &:nth-child(even) {
        width: 0;
      }
    }
  }
}
