.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0;
  z-index: 2;
  transition-delay: 1s;
  &_active {
    left: 0;
    width: 100vw;
    transition-delay: 0s;
  }
  &__block {
    position: relative;
    top: 0;
    left: -345px;
    height: 100%;
    width: 345px;
    padding-top: 140px;
    background-color: $main-color;
    z-index: 2;
    transition: 1s;
  }
  &_active &__block {
    left: 0;
  }
  &__list {
    margin-left: 75px;
    text-transform: uppercase;
    list-style-type: none;
  }
  &__item {
    position: relative;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -35px;
      display: block;
      height: 15px;
      width: 15px;
      border: 1px solid $secondary-text-color;
      border-radius: 100%;
      transition: 0.5s;
    }
    &:hover {
      &::before {
        background-color: $secondary-text-color;
      }
    }
    a {
      color: $secondary-text-color;
    }
  }
  &__social {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 125px;
    a {
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: $text-color;
        }
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    transition: 1s;
  }
  &_active &__overlay {
    opacity: 0.5;
  }
}
