.promo {
  min-height: 100vh;
  position: relative;
  background: url("../img/main_bg.jpg") no-repeat 50% / cover;
  padding-top: 200px;
  &__title {
    width: 545px;
    margin-top: 8px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-top: 24px;
  }
}
