.resume {
  padding-bottom: 126px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 425px);
    column-gap: 135px;
    padding-left: 65px;
    padding-right: 65px;
  }
  &__column {
    position: relative;
    width: 425px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 7.5px;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 5px;
      border: 1px solid #53c1de;
      border-radius: 100%;
      background-color: $secondary-text-color;
      z-index: 4;
    }
    &::before {
      top: 28.5px;
    }
    &::after {
      bottom: 15px;
    }
    &-subtitle {
      position: relative;
      padding-left: 50px;
      @include before_circle_small;
      &::before {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    ul {
      position: relative;
      list-style-type: none;
      &::before {
        content: "";
        position: absolute;
        top: -52px;
        transform: translateX(-7px);
        width: 15px;
        height: calc(100% + 48px);
        border-right: solid 1px $text-color;
        z-index: -1;
      }
    }
  }
  &__item {
    position: relative;
    margin-top: 44px;
    &-head {
      position: relative;
      padding-left: 105px;
      &::before {
        content: "";
        position: absolute;
        left: 7.5px;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 1px;
        background-color: $text-color;
      }
    }
    &-icon {
      position: absolute;
      left: 50px;
      top: 50%;
      transform: translateY(-50%);
      width: 36px;
      height: 36px;
      @include before_circle;
      img {
        position: absolute;
        left: 75%;
        top: 75%;
        transform: translate(-50%, -50%);
      }
    }
    .subtitle {
      margin: 0;
    }
    &-location {
      font-size: 12px;
      line-height: 18px;
    }
    &-body {
      margin-top: 12px;
      padding-left: 50px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
