.sidepanel {
  position: fixed;
  top: 50vh;
  transform: rotate(-90deg) translateY(-50%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  left: -120px;
  z-index: 1;
  &__link {
    display: block;
    transform: rotate(90deg);
    svg {
      height: 20px;
      width: 20px;
      path {
        fill: $text-color;
      }
    }
  }
  &__divider {
    height: 1px;
    width: 70px;
    background-color: $text-color;
  }
  &__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
}
